.dotBox {
	height: 100px;
	text-align: center;
	display: inline-block;
	position: relative;
}

.dotarea {
	width: 50%;
	height: 50%;
}

.dot {
	margin: auto;
	height: 10px;
	width: 10px;
	border-radius: 100%;
	background-color: #ddd;
	padding: 2.5px;
}

.visitedDot {
	background-color: #77eedd;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
}

.line {
	z-index: 5;
	stroke: rgba(100,100,100,.1);
	stroke-width: 5px;
	stroke-linecap: round;
}


#canvas {
	position: absolute;
	top: 0;
}

#mobile-warning {
	visibility: hidden;
}

@media (max-width: 400px) {
	#mobile-warning { visibility: visible; }
	#canvas { visibility: hidden; }
	#grid-area { visibility: hidden; }
	h1 { font-size: 30px; }
	h2 { font-size: 22px; }
}
