@font-face {
    font-family: 'socicon';
    src: url('../assets/socicon/font/socicon.eot');
    src: url('../assets/socicon/font/socicon.eot?#iefix') format('embedded-opentype'),
         url('../assets/socicon/font/socicon.woff') format('woff'),
         url('../assets/socicon/font/socicon.ttf') format('truetype'),
         url('../assets/socicon/font/socicon.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

.socicon {
    font-family: 'socicon' !important;
}

*:focus {
	-o-outline: none;
	outline-style:none;
	box-shadow:none;
	border-color:transparent;
}

body {
	font-family: 'Work Sans', sans-serif;
	font-weight: 100;
	color: #ccc;
}

h1 {
	font-size: 36px;
	margin: 0;
}

h2 {
	font-size: 16px;
	line-height: 22px;
	margin: 5px;
}

h4 {
	font-weight: 100;
	font-size: 30px;
}

a {
	cursor: pointer;
}

a:hover, a:active, a:link, a::after {
	text-decoration: none;
	color: #888;
}

img {
}

/**** CONTAINERS ***/
.container-fluid { margin: 0; padding: 0; }

/**** NAV BAR ***/
nav {
	position: fixed;
	z-index: 100;
	background-color: #fff;
	width: 100%;
	left: 0;
	padding-bottom: 20px;
}

nav ul {
	margin: 20px;
	padding: 0;
	list-style: none;
}

nav li, nav a {
	display: inline-block;
	color: #aaa;
}

.left-nav {
	float: left;
	margin-right: 10px;
}

.right-nav {
	float: right;
}
