*:focus {
	-o-outline: none;
	outline-style:none;
	box-shadow:none;
	border-color:transparent;
}

body {
	font-family: 'Work Sans', sans-serif;
	font-weight: 100;
	color: #ccc;
}

h1 {
	font-size: 36px;
	margin: 0;
}

h2 {
	font-size: 16px;
	line-height: 22px;
	margin: 5px;
}

h4 {
	font-weight: 100;
	font-size: 30px;
}

a {
	color: #77eedd;
	cursor: pointer;
}

a:hover, a:active, a:link, a::after {
	color: #55ccbb;
	text-decoration: none;
}

img {
}

/**** CONTAINERS ***/
.container-fluid { margin: 0; padding: 0; }

/**** NAV BAR ***/
nav {
	position: fixed;
	z-index: 100;
	background-color: #fff;
	width: 100%;
	left: 0;
	padding-bottom: 20px;
}

nav ul {
	margin: 20px;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
}

.left-nav {
	float: left;
}

.right-nav {
	float: right;
}
