body {

}

.splash {
	text-align: center;
	z-index: 100;
	position: relative;
  background-color: #fafafa;
  margin: 150px 20%;
  padding: 30px;
}

.splash h3 {
	font-size: 20px;
	font-weight: 700;
	margin-top: 0;
}

.slide {
  height: 350px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: #eee;
}

.slide img {
  margin-left: auto;
  margin-right: auto;
}

.slide-label {
  height: 100px;
  width: 100%;
  position: absolute;
  margin-top: 150px;
}

.slide-label a {
  color: #aaa;
  font-size: 40px;
  font-family: 'Quicksand', sans-serif;
  background-color: #fff;
  padding: 20px;
}

.prevArrow, .nextArrow {
  font-size: 200px;
  color: #fff;
  opacity: .5;
  border: none;
  position: absolute;
  margin: 30px;
  z-index: 99;
}

.prevArrow:hover, .nextArrow:hover {
  opacity: 1;
}

.prevArrow { left: 0; }

.nextArrow { right: 0; }

@media (max-width:780px){
  .slide-label a {
    font-size: 20px;
  }

  .slide-label {
    margin-top: 170px;
  }
}
