*:focus {
	-o-outline: none;
	outline-style:none;
	box-shadow:none;
	border-color:transparent;
}

body {
	font-family: 'Work Sans', sans-serif;
	font-weight: 100;
	color: #ccc;
}

.background-index {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -50;
	background-color: #fff;
}

.background-mask {
	background-color: rgba(90,90,90,.8);
	z-index: -50;
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
}

h1 {
	font-size: 24px;
	margin: 0;
}

h2 {
	font-size: 16px;
	color: #ccc;
	margin: 5px;
}

h4 {
	font-weight: 100;
	font-size: 30px;
}

a {
	color: #77eedd;
	cursor: pointer;
}

a:hover, a:active, a:link, a::after {
	color: #55ccbb;
	text-decoration: none;
}

.splash {
	margin-top: 50px;
	text-align: center;
	z-index: 100;
	position: relative;
}

.splash h3 {
	font-size: 20px;
	font-weight: 700;
	color: #ccc;
	margin-top: 0;
}

#grid {
	margin-top: 50px;
	width: '';
	height: '';
	text-align: center;
}

.dotBox {
	height: 100px;
	text-align: center;
	display: inline-block;
	position: relative;
}

.dotarea {
	width: 50%;
	height: 50%;
}

.dot {
	margin: auto;
	height: 10px;
	width: 10px;
	border-radius: 100%;
	background-color: #eee;
	padding: 2.5px;
}

.visitedDot {
	background-color: #77eedd;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
}

.line {
	z-index: 5;
	stroke: rgba(100,100,100,.1);
	stroke-width: 5px;
	stroke-linecap: round;
}


#canvas {
	position: absolute;
	top: 0;
}

@media (max-width: 400px) {
	#canvas { visibility: hidden }
	#grid { visibility: hidden }
	h1 { font-size: 30px }
	h2 { font-size: 22px }
}