body, * {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

body { padding: 20px 0; }

a {
  text-decoration: none;
}

#gridfolio-react { margin: 0 auto; text-align: center; overflow: hidden; }
#gridfolio-react > div { display: inline-block; }

.folio-row {
  margin: 0 -10px;
  display: inline-block;
}

.folio-block {
  display: inline-block;
  vertical-align: top;
}

.folio-block.linked:hover {
  opacity: .8;
}

.folio-block--keywords {
}

.folio-block--keyword {
  display: inline-block;
}
