.background-signups {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -50;
	background: url('field-01.png') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-position: bottom;
}

.form {
	margin-top: 50px;
	text-align: center;
	width: 400px;
}

input {
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin: 5px;
	background-color: #efefef;
	width: 350px;
	color: #999;
}

input:focus {
	font-weight: 300;
}

#submit {
	background-color: #ff7766;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
}

.clouds {
	width: 80%;
	margin-top: 100px;
	position: absolute;
	left: 100px;
}

.clouds img {
	max-width: 100%;
}

@media (max-width: 996px) {
	.clouds {
		margin-top: 400px;
	}
}

