nav {
  width: 100%;
  padding: 18px 0;

  @media @tablet {
    padding: 50px 0;
    padding-bottom: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  a {
    border-bottom: none;
  }
}

section {
  padding-top: 150px;

  &:first-of-type {
    padding-top: 100px;
  }

  h2 {
    margin-bottom: 30px;
  }
}

.bio {
  p {
    width: 100%;
    max-width: 450px;

    @media @tablet {
      max-width: 550px;
    }
    @media @desktop-lg {
      max-width: 720px;
    }
  }
}

.social-links {
  margin: -10px;

  a {
    margin: 10px;
    display: inline-block;
  }
}

.projects {
  .project {
    margin-bottom: 30px;
    transition: opacity 300ms linear, filter 300ms ease-in-out;

    @media @tablet {
      margin-bottom: 40px;
    }

    &.inactive {
      opacity: 0.8;
      filter: blur(2px);
    }

    h2 {
      margin-top: 5px;
      margin-bottom: 0;
    }

    a {
      display: inline-block;
      margin-bottom: 6px;

      @media @tablet {
        margin-bottom: 10px;
      }
    }

    p {
      opacity: 0.5;
      margin: 0;
    }
  }
}


.credit,
.credit a {
  font-size: 13px;
  font-weight: 100;
}

.credit {
  text-align: right;
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 0.4);
}
